<div class="wrapper">
<!-- サイドバー -->
  <div class="side-bar">
    <%= render partial: "side_bar" %>
  </div>
  
<!-- メイン -->
  <div class="chat">
    <%= render partial: "main_chat" %>
  </div>
</div>